
{% extends 'base.html' %}



{% block title %}

{% endblock title %}

 

   




    {% block body %}
    <table>
        <tr>
          

          <th>f_name</th>
          <th>last name</th>
          <th>age</th>
          <th></th>
        </tr>
        {{request.session.name}}
          {% for student in students %}
          
          <tr>
            
            <td>{{student.f_name}}</td>
            <td>{{student.l_name}}</td>
            <td>{{student.age}}</td>
            <td><a href="{%url 'delete_student' student.id%}"><button style="padding: 10px 20px;
              background-color: red;
              border: none;
              border-radius: 5px;
              color: white;
              font-size: 16px;
              cursor: pointer;
              transition: 0.3s;
              width: 25%;">delete</button></td>
              <td><a href="{%url 'updatee' student.id%}"><button style="padding: 10px 20px;
                background-color: #4CAF50;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;
                width: 25%;">update</button></td> 
            

          </tr>
         
          {% endfor %}
    </table>
            <div style="text-align: center; margin-top: 100px;">
            <a href="{%url 'create'%}" ><button style="padding: 10px 20px;
              background-color: #4CAF50;
              border: none;
              border-radius: 5px;
              color: white;
              font-size: 16px;
              cursor: pointer;
              transition: 0.3s;
              width: 25%;">create new student</button>
            </div>
{% endblock body %}


