{% load static %}
<!DOCTYPE html>
<html>
<head>

   
    {% block style %}
   <link rel="stylesheet" href="{%static 'css/base2.css'%}">
   {% endblock style %} 
     

   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <div class="navbar">
    <a class="active" href="{%url 'student'%}">Student</a>
    <a href="{%url 'contact'%}">Contact</a>
    <a href="{%url 'about'%}">about</a>
</div>

  
  {% block title %}
    
  {% endblock title %}
    

  {% block body %}
    
  {% endblock body %}
     

</body>
</html>